
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Index";
}

<h1>All Departments</h1>


<br/>
<br/>

<a asp-action="Create" asp-controller="Department" class="btn btn-primary">Create New Department</a>
<br />

<br/>
@if(Model.Count() > 0)
{
    <table class="table table-striped table-hover"> 
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(D=>D.Code)</th>
                <th>@Html.DisplayNameFor(D=>D.Name)</th>
                <th>@Html.DisplayNameFor(D=>D.DateOfCreation)</th>
                <th> Details</th>
                <th> Update</th>
                <th> Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Dep in Model)
            {
                <tr>
                    <td>@Dep.Code</td>
                    <td>@Dep.Name</td>
                    <td>@Dep.DateOfCreation</td>

                    <partial name="_ButtonsPartial" model="@Dep.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="mt-4 aleart-warning">
        <h4> There Is no Departments :(</h4>
    </div>
}